.profile-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  align-items: center;
}

.profile-card__container {
  display: grid;
  align-items: center;
  grid-template-columns: 71px 1fr;
  column-gap: 20px;
  grid-template-rows: 71px 1fr;
}

.profile-card__img {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__name {
  display: grid;
  gap: 4px;
}

.profile-card__description {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

.profile-skill {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
