:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 232px;
}

.login__img {
  width: 355px;
  height: 430px;
}

.login__h3 {
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 44px;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.login__span {
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.login__input {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  padding: 20px 12px;
}
