:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 232px;
  height: 100vh;
}

.login__img {
  width: 355px;
  height: 430px;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.login__span {
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

.login__input {
  font-family: 'JetBrains Mono', sans-serif;
  box-sizing: border-box;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  padding: 12px 20px;
  width: 100%;
  height: 44px;
  color: var(--light-color);
  margin-top: 8px;
  border-radius: 2px;
}
