@import 'fonts';

:root {
  --dark-color: #000;
  --light-color: #fff;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'JetBrains Mono';
}

h2,
p {
  margin: 0;
}

h2 {
  font-weight: 800;
  font-style: normal;
}

p {
  font-weight: 500;
  font-style: normal;
  font-family: 'JetBrains Mono';
}
