@import 'fonts';

:root {
  --dark-color: #000;
  --light-color: #fff;
  --accent-color: #ae7aff;
  --gray-color: #5f646d;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url(/assets/imgs/Bitmap.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
}

.h1 {
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
}

.h6 {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

span {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.btn-skill {
  display: inline;
  padding: 4px 8px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 20px;
  border: none;
  color: var(--dark-color);
  width: 100%;
  cursor: pointer;
}

.btn-shadow {
  border: 1px solid var(--dark-color);
  position: relative;
  border-radius: 2px;

  &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 2px;
    background: var(--gray-color);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.mb16 {
  margin-bottom: 16px;
}

.mt32 {
  margin-top: 32px;
}

.mb60 {
  margin-bottom: 60px;
}
