@import 'fonts';

:root {
  --dark-color: #000;
  --light-color: #fff;
  --accent-color: #ae7aff;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'JetBrains Mono';
}

h2,
p {
  margin: 0;
}

h2 {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

span {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.btn-skill {
  display: inline;
  padding: 4px 8px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  margin-right: 4px;
}

.btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 20px;
  border: none;
  color: var(--dark-color);
}
